#navigation {
  position: fixed;
  right: 0;
  top: 0;
  left: 0;
  z-index: 9999;
  transition: 0.3s all ease-in-out; }
  #navigation nav {
    transition: 0.3s all ease-in-out; }
  #navigation .nav-link {
    font-size: 16px;
    font-weight: 600;
    transition: 0.3s all ease-in-out;
    color: #1c223a; }
    #navigation .nav-link:hover {
      color: #02ad88; }
  #navigation .active {
    color: #02ad88; }
  #navigation .scrollStart {
    padding: 34px 10px; }
  #navigation .scrollChange {
    padding: 15px 10px; }

.navStart {
  background: transparent; }

.navChange {
  background: #fff;
  box-shadow: 0 0px 10px 2px rgba(0, 0, 0, 0.1); }

@keyframes ArrowDown {
  0% {
    bottom: 15px; }
  50% {
    bottom: 5px; }
  100% {
    bottom: 15px; } }
#header {
  background-image: url(../img/11.png);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative; }
  #header .next {
    position: absolute;
    bottom: 5px;
    animation: ArrowDown 1s ease-in-out infinite; }
    #header .next button {
      border: 0;
      background: transparent;
      cursor: pointer; }

#services {
  margin-bottom: 20px; }
  #services .service {
    background: #fff;
    padding: 10px;
    transition: 0.2s all ease-in-out;
    border-radius: 3px;
    position: relative;
    bottom: 0; }
    #services .service:hover {
      bottom: 10px; }
    #services .service a {
      color: #1c223a; }
      #services .service a:hover {
        text-decoration: none; }
    #services .service:hover {
      box-shadow: 0px 15px 50px 0px rgba(115, 115, 115, 0.2); }
    #services .service__block {
      border: 1px solid #eee;
      padding: 45px 15px;
      display: flex;
      box-sizing: border-box;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      transition: 0.3s all ease-in-out; }
      #services .service__block:hover {
        border: 1px solid #02ad88; }
    #services .service__icon {
      margin-bottom: 10px; }
      #services .service__icon img {
        width: 50px; }
    #services .service__title {
      margin-bottom: 5px; }
      #services .service__title h3 {
        font-size: 1.2rem;
        font-weight: bold; }
    #services .service__text {
      color: #757575;
      font-size: 0.9rem;
      line-height: 1.2;
      text-align: center; }

#portfolio {
  background-image: url(../img/22.png);
  height: auto; }
  #portfolio .works {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
  #portfolio .work {
    width: 30%;
    margin-right: 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
    box-shadow: 0 0px 10px 2px rgba(0, 0, 0, 0.1);
    background: #fff;
    transition: 0.3s all;
    position: relative;
    bottom: 0; }
    #portfolio .work:hover {
      bottom: 5px;
      box-shadow: 0 0px 15px 4px rgba(2, 173, 136, 0.15); }
    #portfolio .work__cover {
      border-bottom: 1px solid #eee;
      border-top: 1px solid #eee;
      margin-bottom: 20px; }
    #portfolio .work__title {
      padding: 5px 15px; }
    #portfolio .work__desc {
      color: #757575;
      font-size: 0.9rem;
      line-height: 1.2;
      margin-bottom: 20px;
      padding: 0 15px; }
    #portfolio .work__bottom {
      padding: 0 15px;
      font-size: 14px;
      margin-bottom: 10px; }
    #portfolio .work img {
      width: 100%; }

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 2.8rem;
  font-size: 1.4rem;
  color: #1c223a; }

body, html, .wrapper {
  height: 100%; }

.pd70 {
  padding: 70px 0; }

.background {
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover; }

.background2 {
  background-size: auto;
  background-position: top right;
  background-repeat: no-repeat; }

.caption {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%; }
  .caption h1, .caption h2, .caption h3, .caption h4, .caption h5 {
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 600; }
  .caption h5 {
    font-size: 1.4rem;
    font-weight: 500; }
  .caption h1 {
    font-size: 4rem;
    margin-bottom: 1.2rem;
    color: #02ad88; }
  .caption p {
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 1.7; }

.picture {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.bgLight {
  background-color: #f9faff; }

section .title {
  margin-bottom: 50px; }
  section .title h1 {
    font-weight: bold; }

.customLink {
  border: 2px solid #02ad88;
  color: #02ad88;
  box-shadow: 0px 10px 30px 0px rgba(2, 173, 136, 0.4);
  padding: 7px 10px;
  font-weight: 500;
  transition: 0.3s all; }
  .customLink:hover {
    text-decoration: none;
    color: #fff;
    background: #017b60;
    border-color: #017b60; }

/*# sourceMappingURL=main.css.map */
