#navigation
    position: fixed
    right: 0
    top: 0
    left: 0
    background: transparent
    z-index: 9999
    nav 
        padding: 34px 10px
        .nav-link 
            font-size: 16px
            font-weight: 600
            transition: .3s all ease-in-out
            color: $blackColor
            &:hover, 
                color: $greenLight
        .active 
            color: $greenLight